.note {
    margin: 1rem;
    margin-left: .25rem;
    margin-right: .25rem;
    width: 100%;
}

.noteHeader {
    font-family: "ShackleItalic";
    font-size: 1rem;
    background: rgba(255, 69, 0, .4);
    color: rgba(255, 120, 70, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.noteBody {
    font-family: "ShackleRegular";
    font-size: .9rem;
    font-weight: 400;
    background: rgba(255, 255, 0, .8);
    color: rgba(0, 0, 0, .8);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: .25rem;
}