.top {
    height:3rem;
    width: 100%;
}

.topText {
    float: left;
    margin-left: 1rem;
    font-size: 2rem;
    color: orangered;
}

.logo {
    float: left;
    margin-left: .25rem;
}

.logo img {
    height: 2.7rem;
    width: 2.8rem;
}
.navbar {
    position: absolute;
    right: 0;
    top: 1rem;
}

.topNav, .topNav:hover {
    display: block;
    margin-top: .5rem;
    padding: .25rem;
    float: right;
    font-family: "ShackleRegular";
    color: rgba(255, 69, 0, .8);
    height: 1rem;
    width: 7rem;
}

@media screen and (max-width: 550px) {
    .navbar {
        display: none;
    }
}