.top {
    height:3rem;
    width: 100%;
}

.topText {
    float: left;
    margin-left: 1rem;
    font-size: 2rem;
    color: orangered;
}

.logo {
    float: left;
    margin-left: .25rem;
}

.logo img {
    height: 2.7rem;
    width: 2.8rem;
}