.body {
    display: inline-block;
}

.tabList {
    margin: 0;
    margin-bottom: .25rem;
    padding: 0;
    border-bottom: solid 1px rgba(255, 69, 0, 0.8);
}

.tabIcon {
    font-size: .9rem;
    margin: 0 .5rem;
}

.selectedTab {
    background: rgba(255, 69, 0, 0.5);
    outline: none;
    color: rgba(255, 120, 0, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: solid 1px rgba(255, 120, 0, 1);
}

.formRow {
    clear: both;
    min-height: 1.5rem;
    display: block;
}

.required {
    font-weight: bold;
    color: rgba(255, 120, 0, 1);
}

.labelText {
    width: 10rem;
}

.labelTextShort {
    width: 7rem;
}

.label {
    float: left;
    margin: .25rem;    
    width: 10rem;
}

.inputStyle {
    width: 15rem;
}

.smallInput {
    height: 1rem;
    width: 1rem;
}

.textarea {
    margin: .25rem;
    height: 4rem;
    width: 18em;
}

@media screen and (min-width: 800px) {
    .inputStyle {
        width: 20rem;
    }

    .textarea {
        width: 20rem;
    }
}

@media screen and (max-width: 799px) {
    .indentedInput {
        position: relative;
        left: 3rem;
    }

    .tabIcon {
        margin: 0;
    }
}