.sticky {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, .75);
}

.tabList {
    display: inline-block;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: black;
    border-bottom: solid 1px rgba(255, 69, 0, 0.8);
    list-style-type: none;
}

.tab {
    padding-top: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    float: left;
}

.tab:hover {
    cursor: pointer;
}

.tabIcon {
    font-size: 1rem;
    margin: 0 .15rem;
    padding: 0;
}

.tabIcon:hover {
    color: rgba(255, 120, 0, 1);
}

.selectedTab {
    background: rgba(255, 69, 0, 0.5);
    outline: none;
    color: rgba(255, 120, 0, 1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: solid 1px rgba(255, 120, 0, 1);
}

.selectedTab::after {
    display: none;
}

.primaryBtn {
    background: rgba(255, 69, 0, .5);
    color: rgba(255, 120, 50, .8);
}

.formRow {
    clear: both;
    min-height: 1.5rem;
    display: block;
}

.required {
    font-weight: bold;
    color: rgba(255, 120, 0, 1);
}

.indentedInput {
    position: relative;
    width: 12rem;
    left: 2rem;
}

.labelText {
    width: 10rem;
}

.label {
    float: left;
    margin: .25rem;    
    width: 10rem;
}

.inputStyle {
    width: 15rem;
}

.textarea {
    float: left;
    border-radius: 8px;
    padding: .25rem;
    height: 4rem;
    width: 25rem;
}

.textarea:hover {
    border: solid 1px rgba(255, 120, 0, 1);
    cursor: text;
}

.link {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: .8rem;
    color: rgba(255, 69, 0, 0.8);
    width: 6.5rem;
    text-decoration: none;
}

.link:hover {
    background: transparent;
    color: rgba(255, 69, 0, 1);
}

@media screen and (min-width: 800px) {
    .inputStyle {
        width: 20rem;
    }

    .textarea {
        width: 20rem;
    }
}