.card {
    background: rgba(255, 69, 0, 0.2);
    color: rgba(255, 69, 0, .8);
    height: calc(100% - 1rem);
    text-align: left;
    border: solid 1px rgba(255, 69, 0, 0.6);
    border-radius: 8px;
    border-collapse: collapse;
}

.minified {
    height: calc(100% - 6.7rem);
    margin-top: calc(5.7rem);
}

.header {
    padding-left: 8px;
    font-size: .8rem;
    font-weight: 400;
    background: rgba(255, 69, 0, .4);
    color: rgba(255, 69, 0, 1);
    text-shadow: 2px 2px 2px black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: rgba(255, 69, 9, .8);
    padding: 4px;
    margin-bottom: 6px;
    width: calc(100% - 8px);
    cursor: pointer;
}