.main {
    color: rgba(255, 69, 0, 1);
    font-size: 1.2rem;
    width: calc(100vw - 20.5rem);
    height: calc(100vh - 4.5rem);
}

.scrollable {
    display: inline-block;
    overflow: scroll;
}

.noScrollbars {
    -ms-overflow-style: none;
}

.noScrollbars::-webkit-scrollbar {
    display: none;
}