.left {
    padding-top: 1rem;
    background: rgba(0, 0, 0, .3);
    width: 3rem;
    height: calc(100vh - 5.4rem);
}

.menuButton {
    position: -webkit-sticky;
    position: sticky;
    left: .5rem;
    font-size: 1.85rem;
    background: transparent;
    color: rgba(255, 69, 0, .75)
}

.menuButton:hover, .menuButton:active {
    background: transparent;
    color: rgba(255, 69, 0, 1);
}

.scrollable {
    display: inline-block;
    overflow: scroll;
}

.noScrollbars {
    -ms-overflow-style: none;
}

.noScrollbars::-webkit-scrollbar {
    display: none;
}