.container {
    display: flex;
    justify-content: left;
    align-items: top;
}

.Label, .Input {
    float: left;
    margin: .25rem;
}

.Label {
    width: 10rem;
}

.Label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.required {
    font-weight: bold;
    color: rgba(255, 120, 50, 1);
}

.Input {
    border-radius: 8px;
    border: solid 1px transparent;
    padding: .25rem;
    margin-right: 1rem;
    background: rgba(255, 255, 255, .9);
}

.Input[type='radio'] {
    width: 1.5rem;
    height: 1.5rem;
}

.Input[type='text']:hover {
    border: solid 1px rgba(255, 120, 50, 1);
    cursor: text;
}

.Input:focus {
    background: rgba(200, 200, 255, 1);
}

.InputError {
    background: rgba(255, 175, 175, .8);
}

.InputValid {
    background: rgba(175, 255, 175, .8);
}