.Label, .Input {
    float: left;
    margin: .25rem;
    vertical-align: middle;
}

.required {
    font-weight: bold;
    color: rgba(255, 120, 50, 1);
}

.Input {
    border: none;
    padding: .25rem;
    margin-right: 1rem;
    background: rgba(255, 255, 255, .9);
}

.Input:focus {
    background: rgba(200, 200, 255, 1);
}

.InputError {
    background: rgba(255, 175, 175, .8);
}

.InputValid {
    background: rgba(175, 255, 175, .8);
}