.body {
    display: inline-block;
}

.formRow {
    clear: both;
    min-height: 1.5rem;
    display: block;
}

.labelText {
    width: 10rem;
}

.labelTextShort {
    width: 4rem;
}

.label {
    float: left;
    margin: .25rem;    
    width: 10rem;
}

.inputStyle {
    width: 12rem;
}

.smallInput {
    width: 2rem;
}

.textarea {
    margin: .25rem;
    height: 4rem;
    width: 18em;
}

@media screen and (min-width: 800px) {
    .inputStyle {
        width: 20rem;
    }

    .textarea {
        width: 20rem;
    }
}