.defaultPage {
    position: fixed;
    height: 99.99vh;
    width: calc(100vw - 22rem);
    margin: 1rem;
    margin-top: 0;
    border-radius: 8px;
    border: solid 1px rgba(255, 69, 0, .8);
    height: calc(100vh - 6em);
}

.header {
    background: rgba(0, 0, 0, .1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.headerText {
    text-align: start;
    padding: .25rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-family: 'ShackleItalic';
    letter-spacing: .065rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 69, 0, 1);
    text-shadow: 3px 3px 3px black;
}

.body {
    display: block;
    height: calc(100vh - 9rem);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    text-align: start;
    padding: .5rem;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'ShackleRegular';
    letter-spacing: .065rem;
    font-size: .95rem;
    background: rgba(0, 0, 0, .75);
    color: rgba(255, 120, 50, .8);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.noSelect {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media only screen and (max-width:767px) {
    .defaultPage {
        /* height: calc(100vh - 9rem); */
        width: calc(100vw - 5rem);
    }
}