.body {
    display: block;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 16.75rem;
    height: calc(100vh - 6rem);
    overflow: scroll;
    -ms-overflow-style: none;
    padding-right: .25rem;
}