.body {
    display: inline-block;
    position: absolute;
    top: 5rem;
    right: 0;
    width: 16.75rem;
    height: calc(100vh - 7rem);
    padding-right: .25rem;
}

@media screen and (min-height: 10px) and (max-height: 800px) {
    .body {
        display: block;
        overflow: scroll;
        -ms-overflow-style: none;
    }
}

@media screen and (max-height: 800px) {
    .body {
        height: 43rem;
    }
}

@media screen and (max-height: 768px) {
    .body {
        height: 41rem;
    }
}

@media screen and (max-height: 600px) {
    .body {
        height: 30rem;
    }
}

@media screen and (max-height: 540px) {
    .body {
        height: 25rem;
    }
}

@media screen and (max-height: 420px) {
    .body {
        height: 19rem;
    }
}

@media screen and (max-height: 395px) {
    .body {
        height: 17rem;
    }
}

@media screen and (max-height: 375px) {
    .body {
        height: 16rem;
    }
}

@media screen and (max-height: 280px) {
    .body {
        height: 9rem;
    }
}