.top {
    height: 3rem;
    width: 100%;
}

.topText {
    position: relative;
    float: left;
    top: -.25rem;
    margin-left: 1rem;
    font-family: "Kochire";
    font-size: 2rem;
    color: orangered;
}

.logo {
    position: relative;
    float: left;
    top: -.25rem;
    margin-left: .25rem;
}

.logo img {
    height: 2.7rem;
    width: 2.8rem;
}
.navbar {
    position: absolute;
    right: 0;
    top: 1.5rem;
}

.topNav {
    display: block;
    margin-top: .5rem;
    padding: .25rem;
    float: right;
    font-family: "ShackleRegular";
    letter-spacing: .065rem;
    color: rgba(255, 69, 0, .8);
    text-decoration: none;
    height: 1rem;
    width: 5rem;
}

.topNav:hover, .topNav:active {
    color: rgba(255, 69, 0, 1);
}

.link {
    display: block;
    margin-top: .75rem !important;
    padding: .25rem;
    float: right;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    color: rgba(255, 69, 0, 0.8);
    width: 6.5rem;
    text-decoration: none;
}

.link:hover {
    background: transparent;
    color: rgba(255, 69, 0, 1);
}

@media screen and (max-width: 550px) {
    .navbar {
        margin-top: 1.5rem;
    }
}