.headerText {
    font-family: "ShackleItalic";
    letter-spacing: .1rem;
    font-size: 1.2rem;
    color: rgba(255, 69, 0, 1);
    padding: 1rem;
    padding-bottom: .25rem;
}

.bodyText {
    font-family: "ShackleRegular";
    letter-spacing: .1rem;
    font-size: 1rem;
    color: rgba(255, 120, 50, .8);
    padding: 1rem;
    padding-top: .25rem;
}

.goRotate {
    position: absolute;
    top: calc(100vh / 2 - 7.5rem);
    left: calc(100vw / 2 - 7.5rem);
    animation: spin-anim 10s linear infinite;
}

.iconRotate {
    color: transparent;
    stroke: rgba(255, 120, 50, .5);
    stroke-width: .25rem;
    font-size: 15rem;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg) scale(.75);
        -webkit-filter: brightness(1);
        filter: brightness(1);
        -webkit-filter: contrast(1);
        filter: contrast(1);
    }
    50% {
        transform: rotate(180deg) scale(1);
        -webkit-filter: brightness(0);
        filter: brightness(0);
        -webkit-filter: contrast(0);
        filter: contrast(0);
    }
    100% {
        transform: rotate(360deg) scale(.75);
        -webkit-filter: brightness(1);
        filter: brightness(1);
        -webkit-filter: contrast(1);
        filter: contrast(1);
    }
}