.left {
    padding-left: .25rem;
    width: 2.5rem;
    height: calc(100vh - 4.5rem);
}

.menuButton {
    padding: .5rem 0;
    font-size: 1.5rem;
    color: rgba(255, 69, 0, .8);
}

.menuButton:hover, .menuButton:active {
    color: rgba(255, 69, 0, 1);
}

.scrollable {
    display: inline-block;
    overflow: scroll;
}

.noScrollbars {
    -ms-overflow-style: none;
}

.noScrollbars::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width:767px) and (orientation:portrait) {
    .left {
        padding-top: 2rem;
        height: calc(100vh - 8rem);
    }

    .menuButton {
        padding-left: .35rem;
        padding-right: .5rem;
    }
}