.left {
    padding-left: .25rem;
    width: 4rem;
    height: calc(100vh - 5rem);
}

.menuButton {
    font-size: 2rem;
    color: rgba(255, 69, 0, .8);
}

.menuButton:hover, .menuButton:active {
    color: rgba(255, 69, 0, 1);
}

.scrollable {
    display: inline-block;
    overflow: scroll;
}

.noScrollbars {
    -ms-overflow-style: none;
}

.noScrollbars::-webkit-scrollbar {
    display: none;
}