.App {
  background: linear-gradient(180deg, #000000, #630000 80%, #000000 );
  background-attachment: fixed;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: block;
  -ms-overflow-style: none;
}

.horizRowContainer {
  display: flex;
}

.floatingHolder {
  display: none;
}

.status {
  display: inline;
}

@media only screen and (orientation:landscape) {
  .App {
    display: block;
  }

  .Portrait {
    display: none;
  }
}

@media only screen and (min-width:768px) {
  .App {
    display: block;
  }

  .Portrait {
    display: none;
  }
}

@media only screen and (max-width:767px) and (orientation:portrait) {
  .App {
    display: block;
  }

  /* .Portrait {
    background: linear-gradient(180deg, #000000, #630000 80%, #000000 );
    display: block;
    height: 100vh;
  } */

  .status {
    display: none;
  }

  .floatingHolder {
    display: inline;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 18rem;
    height: 2rem;
    /* height: calc(100vh - 4.5rem); */
  }
}