.App {
  background: linear-gradient(180deg, #000000, #630000 80%, #000000 );
  background-attachment: fixed;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: block;
  -ms-overflow-style: none;
}

.horizRowContainer {
  display: flex;
}

.floatingHolder {
  display: inline;
  position: absolute;
  top: 4rem;
  right: 0;
}

.status {
  display: inline;
}

@media only screen and (max-width:767px) and (orientation:portrait) {
  .App {
    display: block;
  }

  .status {
    display: none;
  }

  .horizRowContainer {
    position: absolute;
    left: 0;
  }

  .floatingHolder {
    display: inline;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 18rem;
    height: 0;
    z-index: 10;
  }
}