.Kochire {
    font-family: "Kochire";
}
.HandmadeSig {
    font-size: "HandmadeSig";
}
.MechaGXPg {
    font-family: "MechaGXPg";
}
.MechaBold {
    font-family: "MechaBold";
}
.MechaCondensed {
    font-family: "MechaCondensed";
}
.MechaCondensedBold {
    font-family: "MechaCondensedBold";
}
.ShackleItalic {
    font-family: "ShackleItalic";
}
.ShackleRegular {
    font-family: "ShackleRegular";
}