@font-face {
  font-family: 'Kochire';
  src: url(/src/assets/fonts/KochireRegularl.otf);
}
@font-face {
  font-family: 'ShackleItalic';
  src: url(/src/assets/fonts/ShackleItalic-DOml1.ttf);
}
@font-face {
  font-family: 'ShackleRegular';
  src: url(/src/assets/fonts/ShackleRegular-ALvV7.ttf);
}

body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link, .nav-link.hover {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background: transparent;
}

.nav-link.active {
  border-radius: 8px;
  background: rgba(255, 69, 0, .2);
  text-decoration: none;
}