.bottom {
    /* background: linear-gradient(180deg, transparent, rgba(90, 90, 255, .95) 90% ); */
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    height: 8rem;
}

.right {
    float: right;
    margin-left: 8px;
    height: 8rem;
    width: 12rem;
}