.card {
    height: 8rem;
}

.chatterImage {
    padding: 8px;
    background: rgba(255, 69, 0, .1);
    border-radius: 8px;
    width: 3rem;
}

.col {
    float: left;
    padding-right: 4px;
    height: 100% !important;
}

.infoText {
    font-family: 'ShackleRegular';
    font-weight: 400;
}