.footer {
    font-family: "ShackleItalic";
    letter-spacing: .065rem;
    color: rgba(255, 69, 0, .8);
    position: fixed;
    bottom: .5rem;
    left: 0;
    text-align: center;
    font-size: .8rem;
    width: 100vw;
    height: 2rem;
}

.terms {
    margin: 0;
    padding: 0;
}

.link {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: .8rem;
    color: rgba(255, 69, 0, 0.8);
    width: 6.5rem;
    text-decoration: none;
}

.link:hover {
    background: transparent;
    color: rgba(255, 69, 0, 1);
}

.link:hover, .link:active {
    color: rgba(255, 69, 0, 1);
}

@media only screen and (max-width:767px) and (orientation:portrait) {
    .terms {
      display: none;
    }
}